@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
}

@layer components {
  .font-abel {
    font-family: "Abel", sans-serif;
  }
  .font-karla {
    font-family: "Karla", sans-serif;
  }
  .text-mandarin {
    color: #ffa600;
  }
}
