@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
}

@layer components {
  .font-abel {
    font-family: "Abel", sans-serif;
  }
  .font-karla {
    font-family: "Karla", sans-serif;
  }
  .text-mandarin {
    color: #ffa600;
  }
  .slide-track {
    width: calc(250px * 21);
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translate(calc(-250px * 5));
    }
  }

  .slide {
    @apply flex items-center;
  }
}
